


body{
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  background-image: url('https://www.niaid.nih.gov/themes/custom/niaid-drupal-theme/patternlab/src/images/waves.svg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}



.top { margin-top: 30px;
}



.sidebar-section {
  height: 100%;
  height: auto;
  position: sticky;
  top: 0;
  color: #0d0d0d;
  padding-right: 120px;
  padding-left: 25px;
  display: flex;
 
}  

.sidebar-content {
  background: #9096F5;
  top: 0;
  padding: 0px 10px 30px 10px;
  color: white;
  font-size: 18px ;
  font-family: 'Montserrat', sans-serif;
  
  
}

.woman {
  height:auto;
  height: 230px;
  width:auto;
  width: 230px;
}



.login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;
    
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}

/* this is grabbing submit button on edit_account rn */

[data-bs-theme=dark] input , textarea, select{
  background-color: #D7DAF5;
  color: black;
  
}

[data-bs-theme=dark] ::placeholder { 
  color: black;
  opacity: 0.6;
}



[data-bs-theme=light]  select{
  background-color: white;
  
}

.btn-primary {
  background-color:#4A49D6;
  border-color: #4A49D6;
  
  --bs-btn-hover-border-color: #9096F5;
  --bs-btn-hover-bg:#9096F5;
  
}

/* trigger buttons css */
.btn-outline-primary {
    width: 100px;
    height: 100px;
    white-space:normal !important;
    word-wrap: break-word;  
    font-weight: bold;
    font-size: 13px;
    color:#7C6EFF;
    border-color:#7C6EFF;
    --bs-btn-color: #9096F5;
    --bs-btn-border-color: #9096F5;
   
    
}



.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  background: #9096F5;
  border-color: #9096F5;
  
}

.modal {
  --bs-modal-zindex: 1055;
  --bs-modal-padding: 1.5rem;
 
}


.form-check-input:checked {
  background-color: #4A49D6;
  border-color: #4A49D6;
}

/* carousel css */
.carousel-item > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


/* calendar css */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
  
  #calendar {
    
    margin: auto;
    color: #012a4a;
    --fc-border-color: black;
    
   
  }
  
  .fc-day-today {
    background-color: #CCD0F6!important;
    opacity: 0.75;
    border: none !important;
} 

  .tooltip {
    position: absolute;
    background: #9096F5;
    text-align: center;
    font-weight: bold;    
  }
  .tooltip-inner{
    background: #9096F5;
  }

  .tooltip.show {
    opacity: 1;
    filter:alpha(opacity=100);
  }

  
    
