{% extends 'base.html' %}
{% block title %}MYgraine Home{% endblock %}

{% block body %}
  <h1>Welcome!</h1>

  <h2>What do you think are your common triggers?</h2>

  <form action="/make-users-triggers" method="POST">
    {% for trigger in triggers %}   

    <input type="checkbox" class="btn-check" name="default-triggers" value="{{trigger.trigger_id}}" id="{{trigger}}">
    <label class="btn btn-outline-primary" for="{{trigger}}"><span class="material-symbols-outlined">
      {{trigger.icon}}
      </span><br>{{trigger.trigger_name}}</label>
     {% endfor %}    
    </select>
</p>
<p>
  <input type="submit">
</p>
  </form>

{% endblock %}


