{% extends 'base.html' %}
{% block title %}MYgraine Home{% endblock %}

{% block body %}
  <h1>Create an Account</h1>

  <form action="/users" method="POST">
    <p>
      Email<span style="color: red">*</span>  <input type="text" name="email" placeholder="email@example.com" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required>
    </p>

    <p>
      Name<span style="color: red">*</span>  <input type="name" name="name"placeholder="Your Name" required>
    </p>

    <p>
        Password<span style="color: red">*</span>  <input type="password" name="password" placeholder="Password" required>
      </p>

      <p>
        Phone Number<span style="color: red">*</span>  <input type="phone_number" name="phone_number" placeholder="555-555-5555" required pattern="(1[- ])?\(?\d{3}\)?[- ]?\d{3}[- ]?\d{4}" required>
      </p>

      <p>
        Do you get periods? 
        <input type="checkbox" name="period" value="True" id="periodtrue">
        <label> yes</label> 
        <input type="checkbox" name="period" value="False" id="periodfalse">
        <label> no </label> 
      </p>

    <p>
      <input type="submit">
    </p>
  </form>

 
{% endblock %}