{% extends 'base.html' %}
{% block title %}MYgraine - Headache {% endblock %}

{% block head %} 


{% endblock %}


{% block body %}


  <p>
    <form action = "/delete-headache/{{ headache.headache_id }}">
        <button type="submit" id="{{headache.headache_id}}">Delete Headache</button>
    </form>
  </p>

  <h2>Your Logged Headache - {{headache.headache_type}} </h2>
  <div>
      
    <p> {{headache.headache_type}} - Date: {{headache.date_start}} - {{headache.date_end}} 
        Pain: {{headache.pain_scale}} / 10
        Potential Triggers: {{triggers}}
     {% if headache.additional_notes %}
      Notes: {{headache.additional_notes}} 
     {% endif %}
     {% if headache.on_period %}
     + menstruated
    {% endif %}
    </p>
   
  </div>
  

{% endblock %}