{% extends 'base.html' %}
{% block title %}MYgraine - Headache {% endblock %}

{% block head %}
<!--jQuery-->
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/static/js/triggerjquery.js"></script>


{% endblock %}


{% block body %}
<div class="col-6">
  <h2>Your Logged Headache - {{headache.headache_type}} </h2>
  <div>
    {% if headache.date_start.strftime("%H:%M:%S") == "00:00:00" and HA_length != None %}
     <h3> Date: {{headache.date_start.strftime("%m/%d/%Y")}} and lasted for {{HA_length}} </h3>
     {% elif headache.date_start.strftime("%H:%M:%S") == "00:00:00" and HA_length == None %}
     <h3> Date: {{headache.date_start.strftime("%m/%d/%Y")}}</h3>
     {% elif HA_length != None %}
     <h3> Date: {{headache.date_start.strftime("%m/%d/%Y at %I:%M %p")}} and lasted for {{HA_length}} </h3>
     {% elif HA_length == None %}
     <h3> Date: {{headache.date_start.strftime("%m/%d/%Y at %I:%M %p")}} </h3>
     {% endif %}
      {% if headache.pain_scale >= 1%}
     <h5>Pain: {{headache.pain_scale}} / 10 <br> </h5> 
      {% endif%}

      {% if triggers %}
      <h5>Potential Triggers:
      {% for trigger in triggers%}
       {{trigger}},
       {% endfor %}
       <br> </h5>
      {% endif %}
      
      {% for med in meds_lst%}
      <h5>You took {{med[2]}} {{med[0]}} at {{med[1]}}, and reported it was {{med[3]}}. </h3>
      {% endfor %}
      {% if headache.additional_notes %}
      <h5>Notes: {{headache.additional_notes}}</h5>
      {% endif %}
      {% if headache.on_period %}
      <h5>+ while menstruating</h5>
      {% endif %}
    
  </div>
  <div>
  <form action="/delete-headache/{{ headache.headache_id }}">
    <button  class="btn btn-primary mt-3" type="submit" id="{{headache.headache_id}}">Delete Headache</button>
  </form>
</div>
</div>
</div>







{% endblock %}