{% extends 'base.html' %}
{% block title %}MYgraine - dashboard {% endblock %}

{% block body %}
  <h1>{{user.name}} </h1>

  <h2>Log a new headache</h2>
  <form action="/log-headache" method="POST">
    <p>
        <label for="date-start">Headache Started:</label>

        <input id="date-start" type="datetime-local" name="date-start" required/>
    </p>

    <p>
        <label for="date-end">Headache Ended:</label>

        <input id="date-end" type="datetime-local" name="date-end" />
    </p>

    <p>
        <label for="pain-scale">Rate your pain:</label>

        <select name="pain-scale" id="pain-scale">
        {% for num in range(11) %}    
         <option value="{{num}}">{{num}}</option>
         {% endfor %}    
        </select>
    </p>

    <p>
        <label for="headache-type">What is the type of headache:</label>

        <select name="headache-type" id="headache-type">
        {% for type in headache_type %}    
         <option value="{{type}}">{{type}}</option>
         {% endfor %}    
        </select>
    </p>

    <p>
        Additional notes: <input type="text" name="notes" placeholder="Started above my eye" >
    </p>


    <p>
      
      {% if user.get_period %}
      Are you currently on your period?
      <input type="checkbox" name="period" value="True" id="periodtrue">
      <label> yes</label> 
      <input type="checkbox" name="period" value="False" id="periodfalse">
      <label> no </label> 

     
      <button id="perioddate">Log Date</button>
      
      <p id="period-date">
      </p>
    
      {% endif %}

    </p>

    <h2>Log Any Potential Triggers</h2>
   
     
         <p> <label for="trigger-name">Select potential triggers:</label> </p> 
      <p>
          {% for trigger in users_triggers %}    
          <input type="checkbox" name="triggers" value="{{trigger.trigger_id}}" id="{{trigger}}">
          <label for="{{trigger}}">{{trigger.trigger_name}}</label>
           {% endfor %}    
           <p id="new-trigger"></p>
          </select>
          <input for="add-trigger"type="text" name="add-trigger" id="add-trigger">
          <button id="add-trigger-button">Add Trigger</button>
      </p>
  
    <p>
      <button type="submit" >Log Headache</button>
    </p>
  </form>



  <script src="/static/js/event_listeners.js"></script>
 
{% endblock %}