<!-- I think this can be deleted now?-->

{% extends 'base.html' %}
{% block title %}MYgraine - dashboard {% endblock %}

{% block body %}
  <h1>{{user.name}} </h1>

  <h2>Log Any Potential Triggers</h2>
  <form action="/log-trigger" method="POST">
 
   
       <p> <label for="trigger-name">Select potential triggers:</label> </p> 
    <p>
        {% for trigger in users_triggers %}    
        <input type="checkbox" name="triggers" value="{{trigger.trigger_id}}" id="{{trigger}}">
        <label for="{{trigger}}">{{trigger.trigger_name}}</label>
         {% endfor %}    
        </select>
    </p>

    <p>
      <input type="submit">
    </p>
  </form>


  <form action="/add-trigger" method="POST">
    <input for="add-trigger"type="text" name="add-trigger" id="add-trigger">
    <button type="submit">Add trigger</button>
  </form>

 
{% endblock %}