{% extends 'base.html' %}
{% block title %}MYgraine - dashboard {% endblock %}

{% block head %} 
<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
{# randomColor: generate random colors #}
<script src="https://cdn.jsdelivr.net/npm/randomcolor@0.6.2/randomColor.js"></script>


<!-- FullCalendar -->
<link rel="stylesheet"href="/static/css/calendar.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.0/index.global.min.js"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script>


{% endblock %}



{% block body %}
  <h1>{{user.name}} Profile </h1>


  <p>
    <form action = "/go-to-headache-log">
        <button type="submit">Add Headache</button>
    </form>
  </p>

  <h2>Your Logged Headaches</h2>
  <div>
    {% for headache in user.headaches %}    
    <p> {{headache.headache_type}} - Date: {{headache.date_start}} - {{headache.date_end}} 
        Pain: {{headache.pain_scale}} / 10
     {% if headache.additional_notes %}
      Notes: {{headache.additional_notes}} 
     {% endif %}
    </p>
    {% endfor %}  
  </div>

  <h2>Your Possible Triggers</h2>
  <div>
    {% for triggername, triggercount in dict_users_triggers.items() %}  
     
    <p> 
        {{triggername}} - {{triggercount}}
    </p>
   
    {% endfor %}  
  </div>

  <h2> Trigger Chart</h2>

  <canvas id="trigger-chart"></canvas>

  <script src="/static/js/charts.js"></script>



  <h2>Headache Calendar</h2>
  <div id='calendar'></div>

  <script>

  
  document.addEventListener('DOMContentLoaded', function() {
    let calendarEl = document.getElementById('calendar');
    let calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth', 
 
      
      // this isnt working probably because of bootstrap
    eventDidMount: function(info) {
    let tooltip = new Tooltip(info.el, {
        title: info.event.extendedProps.description,
        placement: 'top',
        trigger: 'hover',
        container: 'body'
      });
    },


  events: [
   {% for headache in user.headaches %} 
   {
     id: '{{ headache.headache_id }}',
     title: '{{headache.headache_type}} Headache',
     description:'{{headache.headache_type}} Headache Pain:{{headache.pain_scale}}/10',
     start: '{{headache.date_start}}',
     end: '{{headache.date_end}}', 
     url: '/headache/{{ headache.headache_id }}',   
   },
   {% endfor %} 
   
   {% if user.period  %}
   {% for period in user.period %} 
   {
     id: '{{ period.period_id }}',
     title: 'Period',
     description:'Period',
     start: '{{period.date_start}}',
      
   },
   {% endfor %} 
     {% endif %}
 ],
 selectable: true,
    select: function(info){
      //   // set value of headache date to the date user clicks on
    let headacheModal = new bootstrap.Modal(document.getElementById('add_headache'))
      start = info.startStr;
      //need to put this id in headache form
      //document.querySelector('#log-date').value = start;
      headacheModal.show();
      }

});
calendar.render();
});

</script>

{% endblock %}