{% extends 'base.html' %}
{% block title %}MYgraine - dashboard {% endblock %}

{% block head %}


<!--jQuery-->
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/static/js/triggerjquery.js"></script>

{% endblock %}

{% block body %}

    <div class="col-xxl-6 col-lg-5 order-lg-2  text-center">
      <!-- Headache Carousel-->
      <div id="carouselHeadacheSummary" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselHeadacheSummary" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselHeadacheSummary" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#carouselHeadacheSummary" data-bs-slide-to="2"></button>
          {% if user.period %}
          <button type="button" data-bs-target="#carouselHeadacheSummary" data-bs-slide-to="3"></button>
          {% endif %}
        </div>
        <div class="carousel-inner">
          {% if user.headaches %}
          <div class="carousel-item active" data-bs-interval="12000">
            <img class="d-block w-100" src="/static/img/Carousel1.png" alt="First slide">
            <div class="carousel-caption">
              <h3>{{user.name}}'s Headaches</h3>
              <h5>You have had {{number_of_headaches}} logged headaches</h5>
              {% if time_since_most_recent == "1 minutes" %}
              <h5>Your most recent headache was 1 minute ago</h5>
              {% else %}
              <h5>Your most recent headache was {{time_since_most_recent}} ago</h5>
              {% endif %}
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="12000">
            <img class="d-block w-100" src="/static/img/Carousel2.png" alt="Second slide">
            <div class="carousel-caption">
              <h3>{{user.name}}'s Headaches</h3>
              {% if max_pain %}
              <h4>Your headaches averaged {{avg_pain}} out of 10 pain</h4>
              <h4>Your most painful headache was {{max_pain}} ouf ot 10 pain</h4>
              {% endif %}
              <h4>Your most common headache type was a {{most_common_type}}</h4>
            </div>
          </div>
          {% else %}
          <div class="carousel-item active" data-bs-interval="12000">
            <img class="d-block w-100" src="/static/img/Carousel1.png" alt="First slide">
            <div class="carousel-caption">
              <h3>{{user.name}}'s Headaches</h3>
              <h4>You Dont Have Any Logged Headaches</h4>
              <h4>Log your first headache Now!</h4>
            </div>
          </div>
          {% endif %}


          <div class="carousel-item" data-bs-interval="12000">
            <img class="d-block w-100" src="/static/img/Carousel3.png" alt="Third slide">
            <div class="carousel-caption">
              {% if top_triggers != None %}
              <h4>{{user.name}}'s Most Logged Triggers</h5>

                {% for triggername, triggercount in top_triggers.items() %}

                {% if triggercount == 1%}
                <h5>
                    {{triggername}} logged 1 time
                </h5>
                {% else %}
                <h5>
                   {{triggername}} logged {{triggercount}} times
                </h5>
                {% endif %}
                {% endfor %}
                

                {% else %}
                <h5>{{user.name}}'s You Haven't Logged Any Triggers Yet</h5>
                {% endif %}
            </div>
          </div>


          {% if user.period %}
          <div class="carousel-item" data-bs-interval="12000">
            <img class="d-block w-100" src="/static/img/Carousel2.png" alt="Fourth slide">
            <div class="carousel-caption">
              <h5>{{user.name}}'s Periods</h5>
              {% if percent_on_period != None %}
              <p>{{percent_on_period}}% of your headaches were while you were on your period </p>
              {% else %}
              <p>None of your headaches were while you were on your period </p>
              {% endif %}
            </div>
          </div>
          {% endif %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselHeadacheSummary"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselHeadacheSummary"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
      <p class="top" id="quote"> </p>
      
    </div>
  </div>
</div>




<script src="/static/js/quotes.js" type="text/javascript"></script>


{% endblock %}