{% extends 'base.html' %}
{% block title %}MYgraine - Triggers {% endblock %}

{% block head %} 
<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
{# randomColor: generate random colors #}
<script src="https://cdn.jsdelivr.net/npm/randomcolor@0.6.2/randomColor.js"></script>

<!--jQuery-->
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">  
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>  
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> 
<script src ="/static/js/triggerjquery.js"></script>
{% endblock %}

{% block body %}

  <div class="col-xxl-6 col-lg-4 order-lg-2"> 
    <h2>Your Possible Triggers</h2>
    <div>
{% for triggername, triggercount in dict_users_triggers.items() %}  
 {% if triggercount == 1 %}
 <p> 
  {{triggername}} - Logged once
</p>
{% else %}
<p> 
    {{triggername}} - Logged {{triggercount}} times
</p>
{% endif %}

{% endfor %}  

  <h2> Trigger Chart</h2>

  <canvas id="trigger-chart"></canvas>

  </div>

  </div>
</div>


<!-- Charts.js -->
  <script src="/static/js/charts.js"></script>

 
{% endblock %}