{% extends 'base.html' %}
{% block title %}MYgraine - dashboard {% endblock %}

{% block head %} 
<!-- FullCalendar -->
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.0.2/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.2/index.global.min.js"></script>



    <!--jQuery-->
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">  
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>  
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> 
<script>  
  $(function() {  
     $( "#add-trigger" ).autocomplete({  
      source: function(request, response) {
              $.ajax({
                type: "POST",
                url: "/search-triggers.json",
                dataType: "json",
                data: {
                    q: request.term
              },
                success : function(data) {
                  response(data);
              },

            }
            );
          }, 
          minLength: 1
      });
      }); 
</script> 

{% endblock %}

{% block body %}
  <h1>{{user.name}} Profile </h1>


<div class="container">
    <div class="row">
        
        <div class="col-6">
        <h2>Headache Calendar</h2>
             <div id='calendar'></div>
        </div>
    </div>
</div>

{% endblock %}


{% block after_body %}

  <!-- FullCalendar -->
  <script>
  document.addEventListener('DOMContentLoaded', function() {
    let calendarEl = document.getElementById('calendar');
    let calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth', 
 
      
      
    eventDidMount: function(info) {
    let tooltip = new bootstrap.Tooltip(info.el, {
        title: info.event.extendedProps.description,
        placement: 'top',
        trigger: 'hover',
        container: 'body',
        
      });
    },


  events: [
   {% for headache in user.headaches %} 
   {
     id: '{{ headache.headache_id }}',
     title: '{{headache.headache_type}} Headache',
     description:'Type: {{headache.headache_type}} {% if headache.pain_scale%} Headache Pain:{{headache.pain_scale}}/10{% endif %} {% if headache.headache_trigger%} Logged Triggers: {% for headache_trigger in headache.headache_trigger%} {{headache_trigger.trigger.trigger_name}}, {% endfor %} {% endif %}',
     start: '{{headache.date_start}}',
     end: '{{headache.date_end}}', 
     url: '/headache/{{ headache.headache_id }}',  
     color: '#9096f5', 
   },
   {% endfor %} 
   
   {% if user.period  %}
   {% for period in user.period %} 
   {
     id: '{{ period.period_id }}',
     title: 'Period',
     description:'Period',
     start: '{{period.date_start}}',
      
   },
   {% endfor %} 
     {% endif %}
 ],
 selectable: true,
    select: function(info){
      //   // set value of headache date to the date user clicks on
    let headacheModal = new bootstrap.Modal(document.getElementById('add_headache'))
      start = info.startStr;
      
      document.querySelector('#date-start').value = start;
      document.querySelector('#user-route').value = "from-calendar";
      
      headacheModal.show();
      }

});
calendar.render();
});

</script>



{% endblock %}